.register-container
  max-width: 400px
  margin: auto
  padding: 2rem
  display: flex
  flex-direction: column
  align-items: center
  height: 100vh


  h2
    margin-bottom: 1.5rem
    font-size: 2rem
    color: #444307

.full-width
  width: 100%
  margin-bottom: 1rem
  font-weight: bold

.error-message
  margin: 1rem 0
  color: #f44336 // Material red for errors

.login-link
  margin-top: 1rem
  text-align: center
  a
    color: #3f51b5 // Material Indigo
    text-decoration: none
    font-weight: 500

    &:hover
      text-decoration: none
p
  font-size: 1.2rem
  font-weight: bold
  color: #382f03
  margin-left: 0.5rem
  margin-top: 0.5rem

button
    font-weight: bold
