mat-toolbar
  display: flex
  justify-content: space-between
  align-items: center
  background-color: #4c5baf
  color: white
  .toolbar-title
    color: #fffffe
    font-weight: bold
    cursor: pointer
.spacer
  flex: 1 1 auto

nav
  a
    margin: 0 8px
    text-decoration: none
    color: #fffffe
    font-weight: 500
    transition: color 0.3s ease

    &:hover
      color: #ffffff
      text-decoration: none
      cursor: pointer
      background-color: #dfe8eb

  button
    margin-left: 12px
    background-color: #fffffe
    color: #333
    font-weight: bold
    transition: background-color 0.3s ease, color 0.3s ease

    &:hover
      background-color: #3b4daf
      color: #111
