<div class="user-form-container">
    <h2>{{ isEditMode ? 'Edit User' : 'Create New User' }}</h2>

    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Username</mat-label>
            <input matInput id="username" formControlName="username">
            <mat-error *ngIf="userForm.get('username')?.invalid && userForm.get('username')?.touched">
                Username is required
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Password</mat-label>
            <input matInput type="password" id="password" formControlName="password">
            <mat-error *ngIf="userForm.get('password')?.invalid && userForm.get('password')?.touched">
                Password is required and must be at least 6 characters
            </mat-error>
        </mat-form-field>

        <mat-checkbox  formControlName="isAdmin">
            <h3>Admin User</h3>
        </mat-checkbox>

        <div class="form-actions">
            <button mat-raised-button color="primary" type="submit" [disabled]="userForm.invalid">
                {{ isEditMode ? 'Update User' : 'Create User' }}
            </button>
            <button mat-stroked-button color="primary" type="button" (click)="router.navigate(['/users'])">
                Cancel
            </button>
        </div>

    </form>
</div>