.user-list-container
  padding: 2rem
  display: flex
  flex-direction: column
  font-family: Arial, Helvetica, sans-serif

  h2
    margin-bottom: 1.5rem
    color: #4c5baf
    margin-left: 40%
    font-size: 2rem

.full-width-table
  width: 100%
  margin-top: 1rem
.user-list-container
  height: 100vh
th
  color: #0b64eb
  font-size: 1.2rem
  font-weight: bold
  text-align: center

tr
  background-color: #dfe8eb
  color: #1b4b92
  font-size: 1.2rem

td
  text-align: center
  padding: 1rem
